input {
    margin: 10px;
    height: 40px;
}

header h1 {
    color: rgb(173, 165, 165)17, 202, 202;
}


.btn {
    margin: 10px;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(182, 158, 52);
}

.search-box {
    margin: 20px;
}

.card {
    margin: 20px;
    padding: 10px;
}

.future-day {
    background-color: rgba(139, 139, 169, 0.919);
}

.future-day p, h4 {
    color: aliceblue;
}

.icon {
    height: 50px;
    width: 50px;
}

.futureIcon {
    height: 50px;
    width: 50px;
}

.current-day {
    background-color: rgb(220, 228, 236);
}