input {
    margin: 10px;
    height: 40px;
}

.btn {
    margin: 10px;
}

header {
    display: flex;
    justify-content: center;
    background-color: blue;
}

header h1 {
    color: white;
}

.search-box {
    margin: 20px;
}

.card {
    margin: 20px;
    padding: 10px;
}

.future-day {
    background-color: rgba(70, 70, 103, 0.919);
}

.future-day p, h4 {
    color: aliceblue;
}

.icon {
    height: 50px;
    width: 50px;
}

.futureIcon {
    height: 50px;
    width: 50px;
}

.current-day {
    background-color: aliceblue;
}